<div class="training-table col-lg-12 col-md-12 col-xs-12">
  <header>
    <h5>Tabla de posiciones</h5>
  </header>
  <table class="table">
    <tr ng-repeat="t in list">
      <th class="col-lg-3 col-md-3 col-xs-3"><img src="{{players[$index].avatarmedium}}" /></th>
      <th class="col-lg-3 col-md-3 col-xs-3">{{players[$index].personaname}}</th>
      <th class="col-lg-4 col-md-4 col-xs-4">{{t.wins_count}} W / {{t.losses_count}} L</th>
      <th class="col-lg-2 col-md-2 col-xs-2">win rate {{t.winrate.toFixed(2)}}%</th>
    </tr>

  </table>
  <footer>
    <span>Juegos completados.</span>
  </footer>
</div>
